*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

/* general */
body{
    width: 100vw;
    min-height:100vh;
    background: url(./background.jpg) center/cover;

}

button{
    padding: 0.25rem 1rem;
    color: aliceblue;
    background-color: #7a1f1f;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='112' height='92' viewBox='0 0 112 92'%3E%3Cg fill='%23b04444' fill-opacity='0.45'%3E%3Cpath fill-rule='evenodd' d='M72 10H40L16 20H0v8h16l24-14h32l24 14h16v-8H96L72 10zm0-8H40L16 4H0v8h16l24-6h32l24 6h16V4H96L72 2zm0 84H40l-24-6H0v8h16l24 2h32l24-2h16v-8H96l-24 6zm0-8H40L16 64H0v8h16l24 10h32l24-10h16v-8H96L72 78zm0-12H40L16 56H0v4h16l24 14h32l24-14h16v-4H96L72 66zm0-16H40l-24-2H0v4h16l24 6h32l24-6h16v-4H96l-24 2zm0-16H40l-24 6H0v4h16l24-2h32l24 2h16v-4H96l-24-6zm0-16H40L16 32H0v4h16l24-10h32l24 10h16v-4H96L72 18z'/%3E%3C/g%3E%3C/svg%3E");
    opacity: 0.8;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.15s linear ;
    border: none;
    box-shadow: 0px 3px 0px  rgba(0, 0, 0, 0.652);
}
button:hover{
    padding: 0.25rem 1rem;
    opacity: 1;
    transform: scale(1.1);
}

button:active{
    transform: translate(0, 3px);
    box-shadow: 0px 0.5px 0px  black;

}

/* container */
.quote-generator--box{
    width: fit-content;
    max-width: 70vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 2px 2px 10px black;
background: rgba(154, 142, 142, 0.619);
letter-spacing: 1.5px;
border-radius: 5px;
}
.quote{
    display: flex;
    padding: 1.25rem 2rem;
    font-size: 1.85rem;
    text-align: center;
}
.quote-text{
    margin-left: 0.25rem;
    color: #320f0f;
    line-height: 40px;
}
.fa-quote-left{
    color: #651d1d90;
    font-size: 1.4rem;
}

.quote-text--author{
    font-style: italic;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.85rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #5c2828;
    
}

/* btns */
.btns{
    display: flex;
    justify-content: space-between;
}
.twiter-btn{
    margin-left: 50px;
    color: rgb(0, 153, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fa-twitter{
    font-size: 1.2rem;
}
.quote-btn{
    margin-right: 50px;
    font-weight: bold;
}